<div class="foot">
    <p>BenCÓ 2018 all rights reserved</p>
</div>


<div class="container-fluid foot">
  <div class="row">
    <!-- <span class="col-md-2"></span> -->
    <div class="col-md-2 col-sm-2">
   <h1>BenCÓ</h1>
    </div>

    <div id="address" class="col-md-3 col-sm-3">
      <p>5th Floor, Block B,
        <br> Woodstock Exchange,
        <br> 66 Albert road,
        <br> Woodstock Cape Town</p>
    </div>

    <div id="contact" class="col-md-3 col-sm-3">
      <p>Nicholas.Smith@Younglings.africa</p>
      <p>+27 73 233 7503</p>
      <p>Baden.Pelston@Younglings.africa</p>
      <p>+27 78 276 0692</p>
    </div>

    <div class="col-md-3 col-sm-3">
      <p>Subscribe for updates</p>

      <div class="footerbox">
        <input type="text" class="form-control" id="subscribe" placeholder="Someone@Somewhere.com">
        <button type="submit" class="btn btn-pink">Subscribe</button>

      </div>
    </div>
  </div>
</div>