<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" router-Link="/">BenCÓ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Store" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>

    <div id="right-content" class="nav navbar-nav navbar-right" *ngIf="auth.user$ | async as user; else anonymousUser">
      <li class="nav-item">
        <a class="nav-link " role="button" router-Link="sign-in">
          <i class="fa fa-bell badge1" data-badge="+" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="viewProfile()">Profile</a>
          <a class="dropdown-item" (click)="viewStore()">Store</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"> Logout</a>

        </div>
      </li>

    </div>

    <ng-template #anonymousUser>
      <ul id="right-content" class="nav navbar-nav navbar-right">
        <li>
          <a class="nav-link" routerLink="sign-in">

            <i class="fa fa-plane" aria-hidden="true"></i> Login
          </a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>