.header{
    background-image:linear-gradient(to right,rgb(130, 231, 238), #0e2fe9);
    }

.wrapper{
    width: 350px;
    margin: auto;
    margin-top: 100px;
}
.card-image{
    height: auto;
    width: 100px;
}
.container {
    background: #eee;

}

    
.card{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    margin: 15px;
}
.card-content{
    padding: 15px 25px;
}

.card-stacked{
    max-height: 100px;
    display: inline-block;
}
.card-action {
    padding: 5px 25px;
}

    
          

           
.checked{
    color: orange;
}