<div class=" wrapper">

  <div class="header">

    <a class="btn btn-primasry checkoutStore" routerLink="addStore">Checkout Stores</a>
  </div>


  <div class="storeCard">
    <div class="storeContent">
      <div class="store-image">
        <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHWP5dJ-jvpAdjiz549S8DnfdMj_ssE6I7e7ea-_-MFe9Ofe49"
          alt="Tigers Milk"/>
      </div>
      <div class="storeInfo">
        <h4 class="head">Tigers Milk</h4>
          <p>Nice and good family environment</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      <div class="card-action">
      <a href="#">Read More</a>
    </div>
  </div>
      
    </div>

    
  </div>



  <!-- 
  <div class="card-2">
    <img src="http://www.bgurbancafe.com/images/logo.png" style="width:100%" />
    <div class="container">
      <h4><b> BG Cafe</b></h4>
      <p>Reviews: </p>
      <p>Great place in the town center, away from the crowds</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
  </div> -->

</div>



<!-- 
<div class="card-3">
  <img src="https://upload.wikimedia.org/wikipedia/en/8/80/Slug_%26_Lettuce_logo.png" style="width:100%" />
  <div class="container">
    <h4><b> Slug and Lettuce Pub and Grill</b></h4>
    <p>Reviews: </p>
    <p>Good food, fair prices</p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
  </div>
</div> -->