<div class=" wrapper">

  <div class="header">
<a class="btn btn-primasry checkoutStore" [routerLink]="[ '/addStore' ]">Get Started</a>
  </div>

  <app-google-adsense [data]="4901389626"></app-google-adsense>


  <div *ngIf="data === undefined;" class="timeline-item">
      <div class="animated-background">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
      </div>
    </div> 
    
    
    <div *ngIf="data !== undefined;">
      <div class="container">
        <div class="storeCard" *ngFor="let store of data">
            <a [routerLink]="[ '/store-Info' ]">
          <div class="storeContent" (click)="viewstore(store)" >
            <div class="store-image">
              <img class="img" 
              src="{{store.storeProfile.avatarUrl}}"
                alt="Tigers Milk"/>
            </div>
            <div class="storeInfo">
              <h4 class="head">{{store.storeProfile.name}}</h4>
                <p class="storeSlogan" >{{store.slogan}}</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            <div class="card-action">   
          <a router-Link="store-Info" >Read More...</a>
          </div>
        </div>      
          </div>  </a>
      </div>
    </div>
     
  </div>
 

</div>


 