@import url('https://fonts.googleapis.com/css?family=Muli');
.header{
   background-image: url('https://c1.staticflickr.com/8/7459/11536816066_d1acaf5579_b.jpg');
   width: 100%;
   height: 300px;
   border-radius: 5px;
   background-size: cover;
    }

.wrapper{
   background-color:#f0e2eeb0;
}
.checkoutStore{

    position: absolute;
    top: 50%;
    left: 50%;
    border: #FF3366;
    background-color:  #FF3366;
    color: #ffffff;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.card-image{
    height: auto;

}
.storeContent{
    display: flex;    
}
.storeCard{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 2px solid #FF3366;
    border-radius: 5px;
}
.head{
    color: #FF3366;
    font-family: 'Muli', sans-serif;
}
.img{
    height: 133px;
    width: 160px;
    }

.card{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    margin: 15px;
} 

           
.checked{
    color: #FF3366;
}
.storeInfo{
    /* background-color: green;  */
    height: auto;
    padding: 5px;
}