<div class="btn btn-block btn-primary"><i class="far fa-edit"></i> Edit store</div>
<div  type="button" data-toggle="modal" data-target="#myModal" class="btn btn-block btn-danger"> <i class="fas fa-trash-alt"></i> Delete store</div>

<h3>{{selectedstor.storeProfile.name}}</h3>

<p>{{selectedstor.slogan}}</p>

<div class="location"> <i class="fas fa-map-marker-alt"></i> {{selectedstor.location}}</div>
<p>Store owner: {{selectedstor.storeOwner}}</p>
<div class="fdfdfdfdf">
        <!-- <h2>Toggleable Tabs</h2> -->
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Specials</a>
          </li>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <div class="btn btn-primary btn-block"><i class="fas fa-couch"></i> 
              Add more tables</div>
            <h3>available tables are:</h3>
            <br>
         <div class="row">
           <span class="btn btn-success">Available</span>
           <span class="btn btn-warning">Reserved</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-warning">Reserved</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-warning">Reserved</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-success">Available</span>
           <span class="btn btn-success">Available</span>

         </div>
            <br>
          </div>
          <div id="menu1" class="container tab-pane fade"><br>
        <div  class="timeline-item">
              <div class="animated-background">
                  <div class="background-masker header-top"></div>
                  <div class="background-masker header-left"></div>
                  <div class="background-masker header-right"></div>
                  <div class="background-masker header-bottom"></div>
                  <div class="background-masker subheader-left"></div>
                  <div class="background-masker subheader-right"></div>
                  <div class="background-masker subheader-bottom"></div>
                  <div class="background-masker content-top"></div>
                  <div class="background-masker content-first-end"></div>
                  <div class="background-masker content-second-line"></div>
                  <div class="background-masker content-second-end"></div>
                  <div class="background-masker content-third-line"></div>
                  <div class="background-masker content-third-end"></div>
              </div>
            </div>  </div>
          <div id="menu2" class="container tab-pane fade"><br>
            <h3>Happy Hour at: 2</h3>

              </div>
        </div>
      </div>
      <br>
      <h3>Reviews</h3>
      <div class="reviews">
        <div  class="timeline-item">
          <div class="animated-background">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>
              <div class="background-masker content-top"></div>
              <div class="background-masker content-first-end"></div>
              <div class="background-masker content-second-line"></div>
              <div class="background-masker content-second-end"></div>
              <div class="background-masker content-third-line"></div>
              <div class="background-masker content-third-end"></div>
          </div>
        </div> 
      </div>
      <div class="btn btn-primary btn-block"> <i class="far fa-star"></i> Add Review</div>
      

       <!-- Button to Open the Modal -->
  <!-- <button>    Open modal  </button> -->

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Store</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <p>You are about tot Delete you store and all related information... <br> <b>Are you Sure?</b> </p>
        <div (click)="deleteStore(true)" data-dismiss="modal" class="btn btn-success btn-block">YES</div>
        <div (click)="deleteStore(false)" data-dismiss="modal" class="btn btn-danger btn-block">NO</div>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>